
* {
    box-sizing: border-box;
}

input[type=text], input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 20px;
    display: inline-block;
}

button[type=submit]:hover {
    background-color: #349eeb;
    border-color: #349eeb;
}

button[type=submit] {
    transition: .5s ease;
    margin-top: 20px;
    margin-right: 80px;
}

.submit-container {
    text-align: right;
}

.loginbox {
    margin: 60px auto;
    width: 60%;
    padding: 20px;
}

form {
    width: 65%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 45px 5px 45px 25px
}

.col-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 70%;
    margin: 6px;
}