table, th, td {
    padding: 6px !important;
    border: 2px solid #349eeb;
}

.table-container {
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*
th {
    background:#349eeb;
}*/

.table-container caption {
    color: #349eeb;
    text-align: center;
}